@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); // For text
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap'); // For headers/links


//Fonts
$font-head: 'Rubik Mono One', sans-serif;
$font-text: 'Inter', sans-serif;

//Colors
$color-black: #151515;
$color-grey: #5b5b5b;
$color-red: #ff4e4e;
$color-white: #f9f9fa;